@font-face {
font-family:Morrisons-Agenda-Bold;
src:url(MorrisonsAgenda-Bold.eot);
src:url(MorrisonsAgenda-Bold.eot?#iefix) format("embedded-opentype"),url(MorrisonsAgenda-Bold.woff) format("woff"),url(MorrisonsAgenda-Bold.ttf) format("truetype"),url(MorrisonsAgenda-Bold.svg#Morrisons-Agenda-Bold) format("svg")
}

@font-face {
font-family:Morrisons-Agenda-Light;
src:url(MorrisonsAgenda-Light.eot);
src:url(MorrisonsAgenda-Light.eot?#iefix) format("embedded-opentype"),url(MorrisonsAgenda-Light.woff) format("woff"),url(MorrisonsAgenda-Light.ttf) format("truetype"),url(MorrisonsAgenda-Light.svg#Morrisons-Agenda-Light) format("svg")
}

@font-face {
font-family:Morrisons-Agenda-Medium;
src:url(MorrisonsAgenda-Medium.eot);
src:url(MorrisonsAgenda-Medium.eot?#iefix) format("embedded-opentype"),url(MorrisonsAgenda-Medium.woff) format("woff"),url(MorrisonsAgenda-Medium.ttf) format("truetype"),url(MorrisonsAgenda-Medium.svg#Morrisons-Agenda-Medium) format("svg")
}

@font-face {
font-family:Morrisons-Agenda-Semibold;
src:url(MorrisonsAgenda-Semibold.eot);
src:url(MorrisonsAgenda-Semibold.eot?#iefix) format("embedded-opentype"),url(MorrisonsAgenda-Semibold.woff) format("woff"),url(MorrisonsAgenda-Semibold.ttf) format("truetype"),url(MorrisonsAgenda-Semibold.svg#Morrisons-Agenda-Semibold) format("svg")
}

@font-face {
font-family:Maja-Bold;
src:url(MorrisonsMajaWeb-Bold.eot);
src:url(MorrisonsMajaWeb-Bold.eot?#iefix) format("embedded-opentype"),url(MorrisonsMajaWeb-Bold.woff) format("woff2"),url(MorrisonsMajaWeb-Bold.woff2) format("woff2")
}

@font-face {
font-family:Maja-BoldItalic;
src:url(MorrisonsMajaWeb-BoldItalic.eot);
src:url(MorrisonsMajaWeb-BoldItalic.eot?#iefix) format("embedded-opentype"),url(MorrisonsMajaWeb-BoldItalic.woff) format("woff2"),url(MorrisonsMajaWeb-BoldItalic.woff2) format("woff2")
}